h2{
    color:black !important;
}


.manage_category{
    position: relative;
    max-height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    max-width: 100%;
}


.manage_category > a{
    display: inline-block;
    color: black;
    margin: 25px;
    font-weight: bold;
    font-size: 25px;
}

.manage_explain{
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    max-width: 100%;
}

.manage_explain > a{
    display: inline-block;
    color: black;
    margin: 25px;
    font-weight: bold;
    font-size: 25px;
}

input::placeholder{
    text-align: right;
}



.manage_image{
    position: relative;
    height: 300px;
    border: 1px solid black;
    box-sizing: border-box;
    max-width: 100%;
}

.manage_media{
    position: relative;
    height: 500px;
    border: 1px solid black;
    box-sizing: border-box;
    max-width: 100%;
}

.manage_image > a {
    display: inline-block;
    color: black;
    margin: 25px;
    font-weight: bold;
    font-size: 25px;
}


.manage_media > a{
    display: inline-block;
    color: black;
    margin: 25px;
    font-weight: bold;
    font-size: 25px;
}

.option_button{
    display: inline-block;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.manage_image label {
    display: inline-block;
    padding: 10px 20px;
    color: red;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid red;
    border-radius: 5px;
}

/* named upload */
.filebox .upload-name {
    display: inline-block;
    height: 45px;
    font-size:18px; 
    padding: 0 14px;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 5px;

}

.filebox{
    display: inline-block;
}

.preview{
    margin-left: 25px;
}


select#category{
    max-width:1000px; 
    margin: 25px;
}



.display-4{
    margin-left: 15px;
}


.item_infomation > a{
    color:black;
    font-weight: bold;
    margin-left: 25px;
    
}

#delete_btn,#save_btn{
    width: 20%;
    height: 70px;
    margin: 15px;
}

.last_btn{
    margin: 40px auto;
    text-align: center;
}

input[type="text"]{
    border-color: black !important;
}